{% extends 'base.html.twig' %}

{% block title %}Mon panier{% endblock %}

{% block content %}
<h1>Mon panier</h1>
    Retrouvez l'ensemble des produits que vous avez ajouté à votre panier
    <hr>


<table class="table mt-3">
    <caption>
        List of users
    </caption>
    <thead>
        <tr>
            <th scope="col">
                Produits
            </th>
             <th scope="col">
             
            </th>
            <th scope="col">
                Quantite
            </th>
            <th scope="col">
                Prix
            </th>
            <th scope="col">
                Total
            </th>
        </tr>
    </thead>
    <tbody>
        {% set total = null %}
        {% for product in cart %}
            
       
        <tr>
            <th >
            <img src="/uploads/{{product.product.illustration}}" alt="{{product.product.name}}" height="75px">
              
            </th>
            <th>
                {{ product.product.name }} <br>
               <small>{{ product.product.subtitle }}</small> 
            </th>

            <td>
            x {{product.quantity}}
            </td>
            <td>
               {{(product.product.price / 100) | number_format(2,',','.')}} dh
            </td>
            <td>
                {{(product.product.price * product.quantity / 100) | number_format(2,',','.')}} dh
            </td>
        </tr>
{% set total = total + (product.product.price * product.quantity) %}

{% endfor %}

    </tbody>
</table>
<div class="text-right mb-5">
        <b>Nombre de produits :</b> {{ cart|length }}</br>
        <b>Total de mon panier :</b> {{( total / 100 ) | number_format(2,',','.')}} dh
         

        <a href="" class="btn btn-success btn-block">Valider Mon panier</a>
</div>


{% endblock %}
