{% extends 'base.html.twig' %}

{% block title %}Mon panier{% endblock %}

{% block content %}
<h1>Mon panier</h1>
    Retrouvez l'ensemble des produits que vous avez ajouté à votre panier
    <hr>

{% if cart|length %}
    
<table class="table mt-3">
    <caption>
        List of users
    </caption>
    <thead>
        <tr>
            <th scope="col">
                Produits
            </th>
             <th scope="col">
             
            </th>
            <th scope="col">
                Quantite
            </th>
            <th scope="col">
                Prix
            </th>
            <th scope="col">
                Total
            </th>
        </tr>
    </thead>
    <tbody>
        {% set total = null %}
        {% for product in cart %}
            
       
        <tr>
            <th >
            <img src="/uploads/{{product.product.illustration}}" alt="{{product.product.name}}" height="75px">
              
            </th>
            <th>
                {{ product.product.name }} <br>
               <small>{{ product.product.subtitle }}</small> 
            </th>

            <td>
                <a href="{{ path('decrease_cart',{'id':product.product.id}) }}">
                <img src="{{asset('assets/img/minus.png')}}" height="15px" alt="Retirer un produit">
                </a>
                x {{product.quantity}}
            <a href="{{ path('add_to_cart',{'id':product.product.id}) }}">
            <img src="{{asset('assets/img/plus.png')}}" height="15px" alt="Ajouter un produit">
           </a>

           </td>
            <td>
               {{(product.product.price / 100) | number_format(2,',','.')}} dh
            </td>
            <td>
                {{(product.product.price * product.quantity / 100) | number_format(2,',','.')}} dh
            </td>
            <td>
                <a href="{{ path('delete_cart', {id:product.product.id}) }}">
                <img src="{{asset('assets/img/trash.png')}}" height="18px" alt="supremer mon produit">
               </a>     
            </td>
        </tr>
{% set total = total + (product.product.price * product.quantity) %}

{% endfor %}

    </tbody>
</table>
<div class="text-right mb-5">
        <b>Nombre de produits :</b> {{ cart|length }}</br>
        <b>Total de mon panier :</b> {{( total / 100 ) | number_format(2,',','.')}} dh
         

        <a href="{{ path('order') }}" class="btn btn-success btn-block mt-3">Valider Mon panier</a>
</div>

{% else %}
<hr>
<p><b>  
    Votre Panier est vide
</b></p>

{% endif %}


{% endblock %}
