{% extends 'base.html.twig' %}

{% block title %}
    Valider ma commande!
    
{% endblock %}

{% block content %}
    <h2>
        je passe ma commande 
            
    </h2>
    <p>
        choisisez vos péferences avant passer votre commande sur la boutique marrocaine
            
    </p>
    <hr>
        <div class="row">
            <div class="col-md-6">
                
                <br>
                    {% set formHtml %}
                     {{ form_start( form, {action:path('order_recap')}) }}
                      {{ form_label( form.addresse, 'Choisissez votre adresse de livraison' ) }}
                      <a href="{{ path('address_add')}}">Ajouter une nouvelle adresse</a>
                      
                      {{ form_end( form ) }}
                    {% endset %}

                     {{ formHtml|replace({'[br]' : '</br>'})|raw }}
                       
                    </div>
                    <div class="col-md-6">
                    <div class="text-center">
                   <b> Recap de ma commande  </b> <br>
                    <p>Retrouvez le récapitulatif de vos produits</p>
                    </div>
                        

                            <div class='order-summary'>
                            {% for key,product in cart %}

                           <div class="row {% if key > 0 %} mt-2{% endif %}">
                               <div class="col-2"><img src="/uploads/{{product.product.illustration}}" alt="{{product.product.name}}" height="75px"></div>
                                <div class="col-8 my-auto">{{ product.product.name }} <br>
                                 <small>{{ product.product.subtitle }}</small> 
                                </div>
                            
                               <div class="col-2 my-auto"> x {{product.quantity}}</div>
                               
                            </div>
                              
                            
                            {% endfor %}
                            
                        </div>
                     </div>

                    </div>
                {% endblock %}
                